.container{
    position: relative; 
    top: 20px; 
}
img{
    position: absolute; 
    top: 50px; 
}
mat-icon{
    font-size: 18px;
}

button mat-icon{
    font-size: 14px;
}

.form-btn{
  width: 40%;
  position: relative; 
  right: 100px; 
}

.label_value{
    color: blue;
}

.search_img{
  position: relative; 
  top: 20px;
  left: 125px;
}