.container{
    position: relative; 
    top: 20px; 
}
img{
    position: absolute; 
    top: 50px; 
}
mat-icon{
    font-size: 18px;
}

button mat-icon{
    font-size: 14px;
}

.form-btn{
  width: 50%;
}
